div{
    background-color: purple;
    color: white;
}
#skills{
    /* background-color: violet; */
    color: tomato;
    font-family: 'Times New Roman', Times, serif;
}
.movie{
    color: white;
    background-color: steelblue;
}
span#author{
    background-color: turquoise;
    color: yellow;
    text-transform: uppercase;
}

#skills ol li{
    color: crimson;
}
#skills ul li{
    color: white;
}

h3 + p {
    color: thistle;
    background-color: black;
}

p[class]{
    background-color: gray;
}